[submodule "backend"]
	path = backend
	url = git@gitlab.com:galvdat/vgu_tinyprojects/pe2022/pe2022_team-6.git
	branch = backend
[submodule "chat_backend"]
	path = chat_backend
	url = git@gitlab.com:galvdat/vgu_tinyprojects/pe2022/pe2022_team-6.git
	branch = chat-backend
[submodule "frontend"]
	path = frontend
	url = git@gitlab.com:galvdat/vgu_tinyprojects/pe2022/pe2022_team-6.git
	branch = frontend
